.emptyCartContainer {
    margin-top: 160px;
    height: 76vh;
    text-align: center;
    padding: 35px;
}

.CartContainer {
    margin-top: 160px;
    padding-bottom: 20px;
}

.cart-title {
    text-align: center;
}

.empty-cart-button {
    margin-right: 15px;
}