.minus-button {
    margin:0 !important;
}

@media (max-width: 768px) {
    .counter-container {
        display: flex;
        align-items: center;
    }

    .counter-container strong {
        margin: 5px;
    }

    .addCartButton {
        margin-top: 10px;
    }
}
