.hero-container {
    margin-top: 75px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #e8e4e2;
}

.subtitle {
    font-size: 1.5rem;
}

.cards-container {
    margin-top: 50px;
    justify-content: center;
}