.checkout-title {
    text-align: center;
}

.checkout-subtitle {
    text-align: center;
}

.form-container {
    margin-top: 160px;
}

.card-button {
    margin-right: 10px;
}

.errorMessage {
    color: red;
}

.orderMessage {
    color: green;
}

@media (max-width: 456px) {
    .button-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }
}
