.navbar-container {
    background-color: white;
    height: 100px;
}

.me-auto {
    margin-left: 160px;
    gap: 50px;
}

.navbar-container-child {
    background-color: white;
    z-index: 1;
}

@media (max-width: 1200px) {
    .me-auto {
        margin-left: 40px;
    }
}

@media (max-width: 991px) {

    .me-auto {
        gap: 25px;
        margin-top: 20px;
    }

    .cart-cont {
        margin-top: 15px;
        margin-left: 40px;
    }
}