* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.header-cont {
    margin-top: 20px;
}

.footer-cont {
    padding: 40px;
    display: flex;
    justify-content: center;
}